@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 10px; }

img {
  max-width: 100%; }

body *:focus {
  outline: none; }

.section_title {
  font-size: 2rem;
  font-family: "Gotham Pro Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem; }

.button {
  background-color: #ffd200;
  padding: 1.2rem 3rem;
  border: none;
  color: #000000;
  font-size: 1.2rem;
  font-family: "Gotham Pro Regular", sans-serif;
  font-weight: 900;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s; }
  .button:hover {
    background: #cca800;
    -webkit-box-shadow: inset 0 0 20px #686868;
    -moz-box-shadow: inset 0 0 20px #686868;
    box-shadow: inset 0 0 20px #686868; }

section {
  padding: 8rem 0; }

.header {
  padding: 3rem 0 5rem 0; }
  .header_img {
    display: inline-block;
    margin-right: 1.6rem; }
  .header_logo {
    display: block; }
    .header_logo_link:hover {
      text-decoration: none; }
  .header_wrap {
    display: inline-block;
    padding: 0;
    height: 100%; }
  .header_title {
    display: block;
    font-size: 20px;
    color: #000000;
    top: 0;
    min-height: 2.6rem;
    font-family: "Gotham Pro Bold", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0; }
  .header_subtitle {
    font-size: 1.1rem;
    color: #a4a4a4;
    font-family: "Gotham Pro Light", sans-serif;
    margin: 0; }
  .header_btn {
    background: #fff;
    border: 0.2rem solid #000;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    float: right;
    font-family: "Gotham Pro Regular", sans-serif;
    font-weight: 900;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s; }
    .header_btn:hover {
      border-color: #686868;
      color: #686868;
      -webkit-box-shadow: inset 0 0 20px #ffd200;
      -moz-box-shadow: inset 0 0 20px #ffd200;
      box-shadow: inset 0 0 20px #ffd200; }

.phone {
  font-size: 1.8rem;
  font-family: "Gotham Pro Bold", sans-serif;
  text-decoration: none;
  color: #000000;
  float: right; }
  .phone:hover {
    text-decoration: none;
    color: #4d4d4d; }
  .phone_description {
    float: right;
    font-size: 1.1rem;
    color: #a4a4a4;
    margin: 0;
    font-family: "Gotham Pro Regular", sans-serif; }

.menu {
  position: relative;
  z-index: 10; }
  .menu_links {
    color: #000;
    position: absolute;
    right: 1.4rem;
    top: 2rem;
    display: flex;
    width: 98%;
    padding: 2rem 5rem;
    justify-content: space-around;
    background-color: #ffcc00; }
    .menu_links_item {
      list-style: none; }
      .menu_links_item > a {
        color: #000;
        font-size: 1.4rem;
        font-family: "Gotham Pro Regular", sans-serif;
        font-weight: 900;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s; }
        .menu_links_item > a:hover {
          text-decoration: none;
          color: #686868; }
      .menu_links_item::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: #000;
        transform-origin: 100%;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: color 0.5s, transform 0.5s, background-color 0.5s;
        -moz-transition: color 0.5s, transform 0.5s, bbackground-color 0.5s;
        -o-transition: color 0.5s, transform 0.5s, bbackground-color 0.5s;
        transition: color 0.5s, transform 0.5s, background-color 0.5s; }
      .menu_links_item::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: #000;
        transform-origin: 0;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: color 0.5s, transform 0.5s, background-color 0.5s;
        -moz-transition: color 0.5s, transform 0.5s, bbackground-color 0.5s;
        -o-transition: color 0.5s, transform 0.5s, bbackground-color 0.5s;
        transition: color 0.5s, transform 0.5s, background-color 0.5s; }
      .menu_links_item:hover::after, .menu_links_item:hover::before {
        background: #686868;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1); }

.response_menu {
  display: none;
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: #ffcc00; }
  .response_menu_close {
    position: absolute;
    right: 3.2rem;
    top: 20.5rem;
    width: 30px;
    height: 30px;
    background: url("../img/response/response_close.svg") no-repeat center; }
  .response_menu_links {
    text-align: center;
    padding: 0; }
    .response_menu_links_item {
      list-style: none;
      margin-bottom: 0.5rem; }
      .response_menu_links_item > a {
        color: #000;
        font-size: 2rem;
        font-family: "Gotham Pro Regular", sans-serif;
        font-weight: 900;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s; }
        .response_menu_links_item > a:hover {
          text-decoration: none;
          color: #686868; }
  .response_menu_trigger {
    display: none;
    width: 40px;
    height: 40px;
    background: url("../img/response/response_menu_btn.svg") no-repeat center; }
.response_active > a {
  color: #686868;
  position: relative; }
  .response_active > a::after {
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #686868;
    transform-origin: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); }

.active > a {
  color: #686868; }
.active::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #686868;
  transform-origin: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #686868;
  transform-origin: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }

.main {
  padding: 10rem 0 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background/main_bg.png") no-repeat center top;
  opacity: 0.8;
  -webkit-background-size: cover;
  background-size: cover; }
  .main_title {
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-family: "Gotham Pro Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff; }
  .main_subtitle {
    font-size: 1.4rem;
    font-family: "Gotham Pro Light", sans-serif;
    color: #ffffff;
    margin-bottom: 5rem;
    max-height: 10rem; }
  .main_btn {
    display: inline-block;
    margin-right: 1.5rem; }
    .main_btn_desc {
      display: inline-block;
      color: #ffffff;
      font-family: "Gotham Pro Regular", sans-serif; }
      .main_btn_desc a {
        margin-left: 1.5rem;
        color: #ffffff;
        font-weight: 900;
        text-decoration: underline; }
        .main_btn_desc a:hover {
          color: #b3b3b3; }

.goods_img {
  height: 14rem; }
  .goods_img img {
    display: block;
    margin: 0 auto; }
.goods_block {
  text-align: center; }
  .goods_block_border {
    width: 35rem;
    border: 2px solid #f6f6f6;
    margin: 0 auto;
    padding: 3rem 0; }
  .goods_block h3 {
    font-size: 1.5rem;
    font-family: "Gotham Pro Regular", sans-serif;
    font-weight: 900;
    color: #292929;
    margin: 2rem 0;
    display: inline-block; }
    .goods_block h3::after {
      content: "";
      display: block;
      background: #c9c9c9;
      width: 100%;
      height: 1px;
      margin: 0 auto; }
  .goods_block p {
    font-size: 1.3rem;
    font-family: "Gotham Pro Light", sans-serif;
    color: #969696;
    text-align: center;
    margin-bottom: 3rem; }
  .goods_block span {
    display: block;
    font-size: 1.6rem;
    font-family: "Gotham Pro Regular", sans-serif;
    font-weight: 900;
    margin-bottom: 3rem; }
.goods_button {
  margin-bottom: 1rem; }

.slick-active {
  outline: none; }

.arrow {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  z-index: 10;
  height: 4rem;
  width: 2.9rem;
  border: none; }
  .arrow:focus {
    outline: none; }

.prev-goods, .prev-popular {
  background: url("../img/arrows/left-arr.png") center no-repeat;
  left: 0; }

.next-goods, .next-popular {
  background: url("../img/arrows/right-arr.png") center no-repeat;
  right: 0; }

.features {
  background-color: #f4f4f4; }
  .features_block {
    text-align: center; }
    .features_block_border {
      width: 36rem;
      border: 2px solid #fff;
      margin: 0 auto; }
      .features_block_border:hover {
        background-color: #ffffff; }
  .features_item {
    height: 28rem;
    padding: 4rem 1rem; }
    .features_item img {
      margin-bottom: 4rem; }
    .features_item h3 {
      font-size: 1.5rem;
      font-family: "Gotham Pro Regular", sans-serif;
      font-weight: 900;
      margin-bottom: 2rem; }
    .features_item p {
      font-size: 1.2rem;
      font-family: "Gotham Pro Light", sans-serif;
      margin: 0; }

.popular_img {
  height: 17rem; }
  .popular_img_stock {
    position: relative; }
  .popular_img img {
    display: block;
    margin: 0 auto; }
.popular_block {
  text-align: center; }
  .popular_block_border {
    width: 26rem;
    border: 2px solid #f6f6f6;
    margin: 0 auto;
    padding: 3rem 0 2rem 0; }
  .popular_block h3 {
    display: inline-block;
    margin: 2rem 0 1rem;
    min-height: 4rem;
    font-size: 1.5rem;
    font-family: "Gotham Pro Regular", sans-serif;
    font-weight: 900;
    color: #292929;
    text-decoration: underline; }
  .popular_block_price {
    font-size: 2rem;
    font-family: "Gotham Pro Bold", sans-serif;
    font-weight: 900;
    margin-bottom: 2rem; }
    .popular_block_price_wrap {
      min-height: 5rem; }
.popular_button {
  width: 70%; }
.popular_stock-span {
  display: inline-block;
  padding: 0.5rem 0.9rem;
  position: absolute;
  top: 1rem;
  left: 5rem;
  z-index: 10;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  font-family: "Gotham Pro Regular", sans-serif;
  font-weight: 900;
  text-transform: uppercase; }
.popular_stock-price span {
  font-size: 1rem;
  font-family: "Gotham Pro Regular", sans-serif;
  color: #969696;
  text-decoration: line-through; }
.popular_stock-price strong {
  margin-left: 1rem;
  font-size: 2rem;
  font-family: "Gotham Pro Bold", sans-serif;
  font-weight: 900;
  color: red;
  text-decoration: none; }

.services {
  background-color: #f4f4f4; }
  .services_item {
    height: 30rem;
    padding-top: 6rem; }
    .services_item img {
      min-height: 15rem; }
    .services_item h3 {
      text-decoration: underline; }

.contacts {
  background: #333333 url("../img/footer/footer_bg.jpg") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 8rem 0; }
  .contacts_icon {
    float: right;
    margin-top: 14rem;
    margin-right: 2rem; }
  .contacts_form {
    background: #fff;
    padding: 6rem; }
    .contacts_form_title {
      font-size: 2rem;
      font-family: "Gotham Pro Bold", sans-serif;
      margin-bottom: 2rem;
      text-transform: uppercase; }
    .contacts_form a {
      display: inline-block;
      font-size: 1.4rem;
      font-family: "Gotham Pro Regular", sans-serif;
      color: #000; }
      .contacts_form a:hover {
        text-decoration: none;
        color: #686868; }
    .contacts_form_phone {
      margin-left: 3rem;
      line-height: 3rem;
      font-weight: 900; }
      .contacts_form_phone:nth-of-type(1) {
        position: relative; }
        .contacts_form_phone:nth-of-type(1)::before {
          content: "";
          position: absolute;
          display: inline-block;
          left: -3rem;
          top: 0;
          width: 2rem;
          height: 2rem; }
        .contacts_form_phone:nth-of-type(1)::before {
          top: 0.3rem;
          background: url("../img/form/form_phone.jpg") center no-repeat; }
      .contacts_form_phone:nth-of-type(2) {
        margin-bottom: 3rem; }
    .contacts_form_mail {
      text-decoration: underline;
      margin-left: 3rem;
      position: relative; }
      .contacts_form_mail::before {
        content: "";
        position: absolute;
        display: inline-block;
        left: -3rem;
        top: 0;
        width: 2rem;
        height: 2rem; }
      .contacts_form_mail::before {
        background: url("../img/form/form_mail.jpg") center no-repeat; }
    .contacts_form p {
      margin-left: 3rem;
      font-size: 1.4rem;
      font-family: "Gotham Pro Regular", sans-serif;
      margin-bottom: 3rem;
      position: relative; }
      .contacts_form p::before {
        content: "";
        position: absolute;
        display: inline-block;
        left: -3rem;
        top: 0;
        width: 2rem;
        height: 2rem; }
      .contacts_form p::before {
        background: url("../img/form/form_adress.jpg") center no-repeat; }

.callback {
  padding: 6rem 0;
  background: #292929;
  height: 20rem; }
  .callback_title, .callback_subtitle, .callback_phone, .callback_description {
    color: #ffffff; }
  .callback_logo {
    height: 4.5rem; }
    .callback_logo_sub {
      margin-top: 3rem;
      font-size: 1.2rem;
      font-family: "Gotham Pro Regular", sans-serif;
      color: #ffffff; }
  .callback_btn {
    margin-top: 2rem;
    background: #333333;
    border: 0.2rem solid #fff;
    color: #ffffff; }
    .callback_btn:hover {
      border-color: #000;
      color: #000;
      -webkit-box-shadow: inset 0 0 20px #686868;
      -moz-box-shadow: inset 0 0 20px #686868;
      box-shadow: inset 0 0 20px #686868; }

.popup, .popup_prices {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7); }
  .popup_content, .popup_prices_content {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 10%;
    background-color: #fff;
    transform: translateX(-50%);
    padding: 3rem 4rem; }
    .popup_content p, .popup_prices_content p {
      font-size: 1.6rem;
      font-family: "Gotham Pro Regular", sans-serif; }
  .popup_close, .popup_prices_close {
    position: absolute;
    top: -2.5rem;
    right: -2rem;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    line-height: 1rem;
    text-align: center;
    background-color: transparent;
    font-size: 3rem;
    color: #fff; }
  .popup_header, .popup_prices_header {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Gotham Pro Bold", sans-serif; }
  .popup_form *, .popup_prices_form * {
    display: block; }
  .popup_form label, .popup_prices_form label {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: "Gotham Pro Regular", sans-serif; }
  .popup_form input, .popup_form select, .popup_prices_form input, .popup_prices_form select {
    height: 3rem; }
  .popup_form_input, .popup_prices_form_input {
    width: 80%;
    margin: 0 auto 1rem;
    border: 1px solid #686868;
    border-radius: 5px;
    font-size: 2rem;
    padding-left: 0.5rem; }
  .popup_form_btn, .popup_prices_form_btn {
    margin: 2rem auto 0;
    width: 80%;
    font-size: 1.4rem;
    border-radius: 5px; }

.popup_prices_content {
  padding: 3rem 4rem; }
.popup_prices_form_block {
  display: inline-block; }
.popup_prices_form select {
  width: 80%;
  margin: 0 auto 1rem;
  border: 1px solid #686868;
  border-radius: 5px;
  font-size: 1.5rem;
  padding-left: 0.5rem; }

input:valid {
  border: 1px solid green; }
input:invalid {
  border: 1px solid #ccc; }

@media (max-width: 1199px) {
  .contacts_icon {
    display: none; } }
@media (min-width: 1024px) and (max-width: 1199px) {
  .goods_block_border {
    width: 29rem; }
  .goods_img img {
    width: 70%; }

  .features_block_border {
    width: 30rem; } }
@media (min-width: 992px) and (max-width: 1023px) {
  .goods_block_border {
    width: 29rem; }
  .goods_img img {
    width: 70%; } }
@media (max-width: 991px) {
  .popular_stock-span {
    left: 8rem; } }
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding: 8rem 0 5rem; }

  .header_subtitle {
    font-size: 0.9rem; }

  .phone_description {
    font-size: 0.9rem;
    text-align: center; }

  .features_block_border {
    margin-bottom: 2rem; }

  .popular_block_border {
    width: 32rem; }

  .prev-goods {
    left: 10rem; }

  .next-goods {
    right: 10rem; }

  .prev-popular {
    left: -3rem; }

  .next-popular {
    right: -3rem; } }
@media screen and (max-width: 767px) {
  .menu_links {
    width: 100%;
    right: 0; }
    .menu_links_item > a {
      font-size: 1.1rem; }

  .header_link {
    text-align: center; }

  .main {
    padding: 5rem 0 3rem; }
    .main_title, .main_subtitle {
      margin-bottom: 3rem; }

  .features_block_border {
    margin-bottom: 2rem; }

  .phone_col, .header_btn {
    margin-top: 1rem; }

  .header_btn {
    margin-right: 2rem; }

  .phone, .phone_description {
    float: none;
    padding: 0 auto;
    margin-left: 2rem; }

  .popular_block_border {
    width: 35rem; }
  .popular_stock-span {
    left: 9rem; }

  .prev-popular {
    left: 3rem; }

  .next-popular {
    right: 3rem; }

  .callback_phone, .callback_description {
    float: right;
    padding: 0 auto;
    margin-left: 2rem; }

  .callback_btn {
    margin-right: 0; }

  .popup_content p {
    font-size: 1.3rem; }
  .popup_form label {
    font-size: 1.2rem; }
  .popup_form_btn {
    font-size: 1.3rem; } }
@media screen and (max-width: 575px) {
  .menu {
    display: none; }

  .response_menu_trigger {
    display: block;
    position: absolute;
    top: 18.5rem;
    left: 50%;
    transform: translateX(-50%); }

  .header_title {
    text-align: left; }

  .phone_col {
    text-align: center; }

  .header_btn {
    float: none; }

  .btn_col {
    text-align: center; }

  .phone, .phone_description {
    margin-left: 0; }

  .popular_block_border {
    width: 29rem; }
  .popular_stock-span {
    left: 6.3rem; }

  .prev-goods, .prev-popular {
    left: 0; }

  .next-goods, .next-popular {
    right: 0; }

  .callback {
    height: 29rem;
    padding-top: 4rem; }
    .callback_title {
      text-align: left; }
    .callback_logo {
      text-align: center;
      margin-bottom: 2rem; }
      .callback_logo_sub {
        position: absolute;
        display: inline-block;
        top: 18rem;
        right: 50%;
        transform: translateX(50%); }
    .callback_phone {
      display: block;
      float: none; }
      .callback_phone_col {
        text-align: center;
        position: relative; }
    .callback_description {
      display: block;
      float: none;
      margin-bottom: 2rem; }

  .popup_content p {
    font-size: 1rem;
    margin-bottom: 0; }
  .popup_form label {
    margin-top: 1rem;
    font-size: 1.2rem; }
  .popup_form_btn {
    font-size: 1.1rem; } }

/*# sourceMappingURL=style.css.map */
